/*Styles for title and search bar*/
  /*Styling for search results*/

 
 
 /*The containers of search results and placement of the search results*/
 .datareturned{
   width: 100%;
   text-align: center;
   margin:0; padding:0;
 }
   .datacontainer{
     height:200px;
     width:450px;
     background-color: #D7D7D7;
     margin:28px;
     border-radius: 40px;
     padding: 20px; 
     box-shadow: 6px 6px 4px 6px #888888;
     display: inline-block;
   
   }
   .datacontainer:hover{
     transform: scale(1.04);
     cursor: pointer;
   }
   .dataapi{
    
       width: 50%;
       float: left;
       padding: 20px;  
   } 
 
   .dataapi p{
     text-align: left;
     margin:10px;
     width:100%;
   }
   

   /*Read More Buttons*/
   .Readmore{
      background-color: #9F4900;
      background-image: linear-gradient(1deg, #F5811B, #9F4900 99%);
      background-size: calc(100% + 20px) calc(100% + 20px);
      border-radius: 100px;
      border-width: 0;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: arial, sans-serif;
      justify-content: center;
      line-height: 1.5;
      padding: 3px 10px;
      text-align: center;
      text-decoration: none;
      transition: background-color .2s,background-position .2s;
     
    }
    
   
    .Readmore:hover {
      background-position: -20px -20px;
    }

    /*responsive styling for data returned on homepage*/
    @media screen and (max-width: 800px) {

      .datacontainer{
        height:320px;
        width:300px;
      }
      .dataapi{
    
        width: 100%;
        float: left;
        padding: 20px;  
    } 
    .dataapi img{
      width:75%;
    }
    }
    
   
   